html, body {
    height: 100vh;
    margin: 0px;
    font-family: helvetica;
}
.info {
    float: left;
    padding: 35px;
    background-color: #e8e8e8;
    width: 200px;
    min-height: 100%;
}
.ubrandme {
    margin-top: -10px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: -10px;
}
.logo-grey {
    color: #9a9a9a;
}
.logo-orange, a {
    color: #e06833;
}
    
p {
    color: #888888;
    line-height: 145%;
}
a:hover {
    color: darkorange;
}
.links {
    position: absolute;
    bottom: 35px;
}

.portfolio {
    padding-top: 50px;
}
.fpo {
    float: left;
    width: 180px;
    height: 180px;
    background-color: #dddddd;
    margin-left: 20px;
    margin-bottom: 20px;
}