/*GENERAL BOX STYLES*/

* {
    margin: 0;
    padding: 0;
/*    border: 0;*/
    box-sizing: border-box;
}
body {
    font-family: Muli, Helvetica, Arial, sans-serif;
    font-size: 165px;
    line-height: 1.5em;
	color: #838383;
}
header, section {
	overflow: auto;
	height: 100vh;
}
header {
	width: 23.5em;
	padding: 1.75em;
    float: left;
	background: #f4f4f4;
}
header div {
    width: 20em;
}
section {
    padding: 1.5em;
}
details summary img {
    float: left;
    width: 15em;
	margin: .5em;
}
details img {
    width: 100%;
}
summary::-webkit-details-marker {
    display: none;
}


/*TEXT STYLES*/

h1 {
    color: #575757;
    font-size: 1.2em;
    line-height: 1.5em;
}
h2 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
    padding-top: 2em;
}
p {
    font-size: 1em;
    line-height: 1.5em;
}
#contact-links {
    margin-top: 3em;
    font-size: 1em;
}
li {
	list-style: none;
    line-height: 2em;
	font-weight: bold;
}
a {
    color: #e05433;
    text-decoration: none;
}
a:hover {
	color: #ff9327;
}
ul {
}
#ubm-logo {
    opacity: inherit;
    width: 100%;
    margin: inherit;
}
#slogan {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
	font-style: italic;
    padding: .5em 0;
}
/*
img:hover {
	opacity: 1.0;
}
*/
